body {
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("b.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(2px);
    z-index: -1;
    opacity: 0.50;
}

h1 {
    font-family: "Brush Script MT", cursive;
    text-align: center;
    font-size: 120px;
}
