p {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: black;
}
h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
small {
    color: white;
}