.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links .logo {
    width: 25%;
}

.links .menu {
    width: 75%;
}

a {
    padding: 3%;
}

.active {
    color: red;
}

.menu a:hover {
    color: pink;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
}

.tab {
    flex: 1;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

caption {
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 0;
    color: black;
}

th {
    background-color: brown;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: pink;
}

tbody tr:nth-child(odd) {
    background-color: red;
}

.tabtab {
    width: 25%;
    padding: 20px;
    background-color: #0B0014;
    margin-left: 20px;
    color: white;
}

.vote-container {
    text-align: center;
    padding: 20px;
}

form {
    margin-top: 20px;
}

label {
    width: 150px;
}

input, select, button {
    font-size: 1rem;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}

button:hover {
    background-color: #005bb5;
}

#result {
    padding: 25px;
}

.formSUD {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.beycontainer {
    display: flex;
    padding-bottom: 20px;
}

aside {
    width: 25%;
}

.beylistmain {
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    max-width: 100%;
}

article {
    width: 30%;
    box-shadow: 4px 4px 8px #00000033;
}

@media (max-width: 768px) {
    .links {
        flex-direction: column;
        align-items: center;
    }
    .menu {
        display: flex;
        flex-direction: column;
        width: 100%; 
        text-align: center;
        gap: 10px;
    }

    .menu a {
        display: block;
        text-align: center;
        padding: 10px 0;
        font-size: 1.2rem;
    }

    .formSUD {
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        width: auto;
        margin-bottom: 5px;
    }

    .beycontainer {
        flex-direction: column;
    }

    .beylistmain {
        width: 100%;
        flex-direction: column;
        order: -1;
    }

    article {
        width: 100%;
        margin-bottom: 20px;
    }

    aside {
        width: 100%;
    }

}